:root {
  --colorgray: #222221;
  --colorblue: #017EFF;
  --colorred: #C20E1A;
}
.footer{
  background-color: var(--colorblue);
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.13);
  color: white;
  padding: 20px 0px 0px 0px;
}

.footer h1{
  font-size: 0.75rem;
}

.footer p{
  font-size: 0.5rem;
}

.footerinfos, .infocontent{
  font-size: 0.8rem;
  text-align: left;
  list-style: none;
}

::placeholder{
  color: #222221;
  padding: 10px;
  font-size: 0.7rem;
}

input[type=text]{
  border-radius: 10px;
  border: none;
  height: 35px;
  margin: 10px;
  width: 60%;
}
.newsletterbx{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

button[type=submit]{
  position: absolute;
  right: 20%;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 20px 10px 30px;
  border: none;
  margin: 0;
  background: none;
}

.submiticon{
  font-size: 0.7rem;
  transform: rotate(-90deg);
  color: #017EFF;
}

.footerinfos .infobx .infocontent {
  position: relative;
  height: 0;
  overflow: hidden;
  color: #222221;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.13);
  overflow-y: hidden;
  -webkit-filter: blur(2px);
  font-size: 0.7rem;
  text-align: justify;
  transition: 0.5s cubic-bezier(.43,0,.16,1.01);
}

#open {
  height: 150px;
  padding: 10px 30px 10px 20px;
  text-align: justify;
  font-size: 0.8rem;
  -webkit-filter: none;
  background-color: white;
  transition: 0.5s cubic-bezier(.43,0,.16,1.01);
}


.infobx{
  position: relative;
  cursor: pointer;
}
.arrowopen{
  position: absolute;
  right: 30px;
  transition: 0.5s cubic-bezier(.43,0,.16,1.01);
}

.arrowclosed{
  position: absolute;
  right: 30px;
  transform: rotate(-90deg);
  transition: 0.5s cubic-bezier(.43,0,.16,1.01);
}

.footerinfos li{
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.13);
  padding: 10px 0px 10px 20px;
  border-top: 1px inset #222221;
}

.footerinfos li:last-child {
  border-bottom: 1px inset #000000fb;
}

#personalizupinfos{
  font-size: 0.6rem;
  padding: 20px;
}

.atendimentobx{
  display: flex;
}

.Icon{
  font-size: 3rem;
}

.whatsappbx{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-left: -5px;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  background-color: #017EFF;
  z-index: 999;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.whatsappbx:hover{
  box-shadow: inset 0px 0px 15px rgb(255, 255, 255);
}

.socialicon{
  font-size: 3rem;
  padding: 15px;
  border-radius: 50%;
  background-color: #f3f3f3;
  border: 1px solid #979797;
  box-shadow: 0px 0px 10px #e3e3e3;
  margin-right: 30px;
  transition: 0.2s ease-in-out;
}

.socialicon:hover{
  background-color: #ffffff;  
}

