:root {
  --colorgray: #222221;
  --colorblue: #017EFF;
  --colorred: #C20E1A;
}

@font-face {
  font-family: "PoppinsExtraBold";
  src: url('../../../public/fonts/Poppins-ExtraBold.ttf');
}


.ProductsSwiper{
  display: flex;
  height: 300px;
}

#product{
  display: block;
  width: 160px;
  height: 160px;
  margin: 0px 10px 0px 10px;
}

#value{
  color: var(--colorblue);
  font-weight: bold;
}

#productphoto{
  object-fit: contain;
  width: 100%;
  border-radius: 15px;
}

#title{
  text-align: center;
  font-family: "PoppinsExtraBold", sans-serif;
  font-size: 1.3rem;
  color: var(--colorgray);
  margin-top: 25px;
  margin-bottom: 10px;
}

#producttitle{
  font-size: 0.9rem;
}

#productprice{
  font-size: 0.7rem;
  margin-bottom: 5px;
}

.button1{
  border: none;
  background: #017EFF;
  color: white;
  width: 100%;
  border-radius: 4px;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.178);
  cursor: pointer;
  height: 40px;
}

.button1:hover{
  background: white;
  color: #017EFF;
}

.button2{
  font-size: 0.7rem;
  border: solid 1px #017EFF;
  background: white;
  color: #017EFF;
  margin-top: 4px;
  width: 100%;
  border-radius: 4px;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.178);
  cursor: pointer;
  height: 20px;
}

.button2:hover{
  background: #017EFF;
  color: white;
}