:root{
  --blue: rgb(0, 136, 255);
}  

.form{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  justify-content: center;
  width: 90%;
}

.cadastrarcliente{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  border: 1px solid var(--blue);
  box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.249);
  padding: 5px;
  border-radius: 5px;
  height: 30px;
  width: 20%;
}

h1{
  text-align: left;
  color: var(--blue);
  font-size: 1.5rem;
}  

button[type=submit]{
  border: none;
  background-color: var(--blue);
  border-radius: 7px;
  color: white;
  cursor: pointer;
  height: 40px;
  width: 20%;
  padding: 5px;
  transition: 0.2s ease-in-out;
}  

button[type=submit]:hover{
  border: 1px solid var(--blue);
  background-color: white;
  color: var(--blue);
  box-shadow: 0px 0px 5px var(--blue);
}  


input::placeholder{
  color: var(--blue);
  text-align: center;
}  


