:root{
  --blue: rgb(0, 136, 255);
}

.form{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  height: 350px;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(0, 136, 255, 0.074);
  border: 1px solid var(--blue);
  padding: 20px;
  box-shadow: 0px 0px 5px var(--blue);
  border-radius: 10px;
}

h1{
  text-align: center;
  color: rgb(19, 19, 19);
}

.inputbx{
  display: flex;
  flex-direction: column;
  color: rgb(14, 14, 14);
}

input{
  border: 1px solid var(--blue);
  box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.249);
  padding: 5px;
  border-radius: 5px;
  height: 30px;
}

button[type=submit]{
  border: none;
  background-color: var(--blue);
  width: 100px;
  height: 30px;
  border-radius: 10px;
  color: white;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

button[type=submit]:hover{
  border: 1px solid var(--blue);
  background-color: white;
  color: var(--blue);
  box-shadow: 0px 0px 5px var(--blue);
}

.buttons{
  display: flex;
  flex-direction: row;
}

input::placeholder{
  color: var(--blue);
  text-align: center;
  
}

@media (min-width: 900px) {
  .form{
    display: flex;
    min-width: 600px;
    max-width: 900px;
    align-items: center;
    gap: 20px;
    justify-content: center;
    height: 100px;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgba(0, 136, 255, 0.074);
    border: 1px solid var(--blue);
    padding: 10px;
    box-shadow: 0px 0px 5px var(--blue);
    border-radius: 10px;
  }

  input{
    border: 1px solid var(--blue);
    box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.249);
    padding: 5px;
    border-radius: 5px;
    height: 30px;
    width: auto;
  }

  .inputbx{
    width: 20%;
  }


  button[type=submit]{
    border: none;
    background-color: var(--blue);
    border-radius: 10px;
    color: white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }

}